<div class="content-lg container-fluid p-0">
  <div class="row two-col">
    <div class="col-md-6">
      <%= image_tag( "login.jpg", class: "left-img", alt: "Sign Up Page")%>
    </div>
    <div class="col-md-6 right-col">
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <%= link_to "Restore", users_restore_path %>
      <% else %>
        <%= devise_error_messages! %>
      <% end %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :phone_number_mobile %><br />
        <%= f.telephone_field :phone_number_mobile, autofocus: true, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :phone_number_office %><br />
        <%= f.telephone_field :phone_number_office, autofocus: true, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-theme btn-theme-sm btn-base-bg text-uppercase" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<div class="section-seperator"></div>

