<h1> Welcome to your cart! </h1>

<div class="container" id="tableContainer">
  <table class="table table-hover table-striped table-responsive-lg" id="orderTable">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% count = 1 %>
    <% @cart_orders.each do |key, value| %>
    <tr>
      <th scope="row"><%= count %><% count += 1 %></th>
      <td><%= value["current_order_name"] %></td>
      <td><%= value["current_order_quantity"] %></td>
      <td><%= number_to_currency(value["current_order_unit_price"]) %></td>
      <td><%= number_to_currency(value["current_order_total"]) %></td>
      <td><a class="btn btn-danger btn-sm deleteFromCart" data-productsku="<%= key %>">Remove</a></td>
    </tr>
    <% end %>
    <tr>
    <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td>Grand Total:</td>
      <td><%= number_to_currency(@grand_total) %></td>
      <td><%= link_to 'Pay with Stripe!', new_order_path(@order), :class => "btn btn-sm btn-success createOrder" %></td>
    </tbody>
  </table>
</div>
