<h1> Welcome to your cart! </h1>

<div class="container" id="tableContainer">
  <table class="table table-hover table-striped table-responsive-lg" id="orderTable">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% count = 1 %>
    <% @grand_total = 0 %>
    <% @cart_orders.each do |key, value| %>
      <% if key.length > 7 %>
        <% mainSku = key[0..6]%>
        <% varName = key[7..-1]%>
        <% @line_item_main = Product.find_by("sku": mainSku) %>
        <% @line_item_var = Variation.find_by("name": varName) %>
        <tr>
        <th scope="row"><%= count %><% count += 1 %></th>
        <td><%= "#{@line_item_main.name} (#{@line_item_var.name})" %></td>
        <td><%= value %></td>
        <td><%= number_to_currency(@line_item_main.price + @line_item_var.price) %></td>
        <td><%= number_to_currency(value * (@line_item_main.price + @line_item_var.price)) %></td>
        <% @grand_total = @grand_total + (value * (@line_item_main.price + @line_item_var.price)) %>
        <td><a class="btn btn-danger btn-sm deleteFromCart" data-productsku="<%= key %>">Remove</a></td>
        </tr>
      <% else %>
        <% @line_item = Product.find_by("sku": key) %>
        <tr>
        <th scope="row"><%= count %><% count += 1 %></th>
        <td><%= @line_item.name %></td>
        <td><%= value %></td>
        <td><%= number_to_currency(@line_item.price) %></td>
        <td><%= number_to_currency(value * @line_item.price) %></td>
        <% @grand_total = @grand_total + (value * @line_item.price) %>
        <td><a class="btn btn-danger btn-sm deleteFromCart" data-productsku="<%= @line_item.sku %>">Remove</a></td>
        </tr>
      <% end %>

    <% end %>
    
    <tr>
    <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td>Grand Total:</td>
      <td><%= number_to_currency(@grand_total) %></td>
      <td></td>
    </tbody>
  </table>
</div>






<%if false%>
<% count = 1 %>
    <% @my_orders.each do |order| %>
      <tr>
        <th scope="row"><%= count %><% count += 1 %></th>
        <% if order.variation %>
          <td><%= order.product.name %> (<%= order.variation.name %>)</td>
        <% else %>
          <td><%= order.product.name %></td>
        <% end %>
        <td><%= order.quantity %></td>
        <td><%= number_to_currency(order.price) %></td>
        <td><%= number_to_currency(order.quantity * order.price) %>
        <td><%= link_to 'Remove', order_path(order),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
<% end %>