<h1> Welcome to your cart! </h1>

<table>
  <tr>
    <th>Number</th>
    <th>User</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Payment Status</th>
    <th>Payment Complete</th>
    <th></th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.number %></td>
      <td><%= order.user.email %></td>
      <td><%= order.product.name %></td>
      <td><%= order.quantity %></td>
      <td><%= order.price %></td>
      <td><%= order.payment_status %></td>
      <td><%= order.is_complete %></td>
      <td><%= link_to 'Show', order_path(order) %></td>
      <td><%= link_to 'Delete', order_path(order),
        method: :delete,
      data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end %>
</table>