<div class="jumbotron-pdt jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Menu</h1>
    <%# <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> %>
  </div>
</div>

<div id="productsContainer" class="container">
  <div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card" id="productCard">
        <img class="card-img-top" src="<%= product.img %>">
        <div class="card-block">
          <h5 class="text-bold"><%= product.name %></h5>
          <h6 class="font-italic"><%= product.description %></h6>
          <% if product.variations.any? %>
            <select class="selectVariation" id="<%= product.sku %>">
            <option selected value></option>
            <% product.variations.each do |variation| %>
              <option value="<%= variation.name %>"><%= variation.name %></option>
            <% end %>
            </select>
            <br>
          <% end %>
          <h6 class="font-italic"><%= number_to_currency(product.price) %></h6>
          <% if current_user == nil %>
            <a class="btn btn-success" href="/users/sign_in">Add to Cart</a>
          <% else %>
            <a class="btn btn-success addToCart" data-productsku="<%= product.sku %>">Add to Cart</a>
          <% end %>
          <% if current_user != nil && current_user.is_admin == true %>
            <br>
            <%= link_to 'Show', product_path(product), :class => "btn btn-sm btn-info"%>
            <%= link_to 'Edit', edit_product_path(product), :class => "btn btn-sm btn-warning"%>
            <%= link_to 'Delete', product_path(product),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>
  </div>
</div>

