<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image Url:</strong>
  <%= @product.img %>
</p>

<p>
  <strong>Is it available on the site? :</strong>
  <%= @product.is_available %>
</p>

<p>
  <strong>Has it been deleted? : </strong>
  <%= @product.is_deleted %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Back', products_path %>